.container.mt-4
  .row
    .col-md-6.offset-md-3
      .card
        .card-header
          %h2.card-title.text-center Edit #{resource_name.to_s.humanize}
        .card-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            .form-group
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, class: "form-control"
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div Currently waiting confirmation for: #{resource.unconfirmed_email}
            .form-group
              = f.label :password
              = f.password_field :password, autocomplete: "off", class: "form-control"
              %small.form-text.text-muted leave blank if you don't want to change it
            .form-group
              = f.label :password_confirmation
              %br/
              = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
            .form-group
              = f.label :current_password
              = f.password_field :current_password, autocomplete: "off", class: "form-control"
              %small.form-text.text-muted we need your current password to confirm your changes
            .form-group
              = f.submit "Update", type: "submit", class: "btn btn-info btn-block"
        .card-footer
          %h3.card-title.text-center Unhappy?
        .card-body
          .text-center
            %p #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-dark"}
            = link_to "Back", :back
