.card.mt-2.comment
  .card-header
    - if comment.user_id.blank?
      %strong= comment.commenter_name
    - else
      %strong= link_to comment.user.name, "#"
    %small.text-muted.right= comment.created_at.strftime("%Y-%m-%d, %H:%M")
  .card-body
    %p= comment.body
    .card-text.text-right.reply= link_to "REPLY", "#", id: comment.id, onclick: "event.preventDefault(); replyToCommentable.call(this, #{comment.id}, 'Comment')", class: "comment-reply-link btn btn-outline-primary btn-sm"
    - comment.comments.each do |nested_comment|
      = render partial: "comments/comment", object: nested_comment
