.card.mt-2.comment
  .card-header
    %strong= comment.author_name
    %small.text-muted.left= comment.published_at
    %small.text-muted.right
      %div{ id: "rating-#{comment.id}" }
        = render partial: "ratings/ratings",
          locals: { comment: comment, interview: @facade.interview }
  .card-body
    %p= comment.body
    .card-text.text-right.reply= link_to "REPLY", "#", id: comment.id, onclick: "event.preventDefault(); replyToCommentable.call(this, #{comment.id}, 'Comment')", class: "comment-reply-link btn btn-outline-primary btn-sm"
    - comment.comments.each do |nested_comment|
      = render partial: "comments/comment", object: nested_comment
