#comment-reply-form.mt-2
  = form_for [commentable, Comment.new], remote: true do |f|
    .card
      .card-header.text-left
        = f.hidden_field :commentable_id, value: commentable.id
        = f.hidden_field :commentable_type, value: commentable.decorated_class_name
        - if user_signed_in?
          %strong= f.label(:user_id, current_user.name)
          = f.hidden_field :user_id, value: current_user.id
          .right
            = f.submit t("comments.create_comment"), class: "btn btn-outline-primary btn-sm"
        - else
          .form-row
            .col-md-5
              = f.text_field :commenter_name, class: "form-control form-control-sm", placeholder: "Your name", required: true
            .col-md-5
              = f.email_field :commenter_email, class: "form-control form-control-sm", placeholder: "Your email", required: true
            .col-md-2.text-right
              = f.submit t("comments.create_comment"), class: "btn btn-outline-primary btn-sm"
      .card-body
        .form-group
          = f.text_area :body, class: "form-control form-control-sm", placeholder: "Add a comment", required: true
