#comment-reply-form.card.mt-2
  .card-body
    = form_for [commentable, Comment.new] do |f|
      .card
        .card-header
          = f.hidden_field :commentable_id, value: commentable.id
          = f.hidden_field :commentable_type, value: commentable.class.name
          - if user_signed_in?
            %strong= f.label(:user_id, current_user.name)
            = f.hidden_field :user_id, value: current_user.id
          - else
            .form-inline
              = f.text_field :commenter_name, class: "form-control", placeholder: "Your name", required: true
              = f.email_field :commenter_email, class: "form-control", placeholder: "Your email", required: true
        .card-body
          .form-group
            = f.text_area :body, class: "form-control", placeholder: "Add a comment"
          = f.submit class: "btn btn-primary"
