= form_for @interview do |f|
  - if @interview.errors.any?
    %div Yay, #{pluralize(@interview.errors.count, "error")}:
    %ul
    - @interview.errors.full_messages.each do |msg|
      %li= msg
  %h1= f.text_field :title
  = f.select :country_id, @countries, prompt: "Country"
  %p= f.text_area :description
  = f.fields_for :answers do |a|
    = a.fields_for :section do |s|
      %h2= s.label(:name, s.object.name)
    %p= a.text_area :content
  = f.submit "Update"
