.container.mt-4
  .row
    .col-md-8.offset-md-2
      = form_for @form do |f|
        - if @form.errors.any?
          %div Yay, #{pluralize(@form.errors.count, "error")}:
          %ul
          - @form.errors.full_messages.each do |msg|
            %li= msg
        .form-group
          .card.bg-light
            .card-body
              %h3.card-title= f.label :title
              = f.text_field :title, class: "form-control"
        .form-group
          .card.bg-light
            .card-body
              %h3.card-title= f.label :description
              %p= f.text_area :description, class: "form-control"
        .form-group
          .card.bg-light
            .card-body
              %h3.card-title= f.label :cover
              = image_tag "#{@form.cover_url}", class: "img-fluid form-control"
              .form-row
                .form-group.col-md-8
                  %p= f.file_field :cover, class: "form-control"
                .form-group.col-md-4
                  .form-check.form-inline.form-control
                    = f.check_box :remove_cover, class: "form-check-input"
                    = f.label :remove_cover, "Remove image above", class: "form-check-label"
        .row
          .col-sm-6.offset-sm-3
            = f.submit t(".update_interview"), type: "submit", class: "btn btn-info btn-block"
