.container.mt-4
  .row
    .col-md-8.offset-md-2
      = form_for @form, url: {action: "create_form"} do |f|
        - if @form.errors.any?
          %div Yay, #{pluralize(@form.errors.count, "error")}:
          %ul
          - @form.errors.full_messages.each do |msg|
            %li= msg
        .form-group
          .card.bg-light
            .card-body
              %h3.card-title= f.label :name
              = f.text_field :name, class: "form-control"
        .form-group
          .card.bg-light
            .card-body
              %h3.card-title= f.label :title
              = f.text_field :title, placeholder: t(".title_placeholder"), class: "form-control"
        .form-group
          .card.bg-light
            .card-body
              %h3.card-title= f.label :description
              %p= f.text_area :description, placeholder: t(".description_placeholder"), class: "form-control"
        .form-row
          .form-group.col-md-4
            .card.bg-light
              .card-body
                = f.select :country_id, @countries_list, {}, class: "form-control", prompt: "Country"
        .row
          .col-sm-6.offset-sm-3
            = f.submit t(".create"), type: "submit", class: "btn btn-info btn-block"
